<!doctype html>
<html>
<head>
	<title>Pilvihavaintosivusto</title>
	<link rel="stylesheet" type="text/css" href="css/paatyyli.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div id="navigaatio">
		<nav>
			<a href="/">Etusivu</a>
			<a href="/pilviinfo">Pilvi informaatio</a>
			<a href="/pilvihavainnot">Pilvihavainnot</a>
			<a href="/pilvihavaintolomake">Havaintojen syöttäminen</a>
		</nav>
	</div>
	<div id="body">
		{{{body}}}
	</div>
</body>
</html>
