extends layout

block content
	h1= title
	p Tervetuloa meidän testiimme
	
	// Wrapper
	#wrapper
	
		// KÄYTTÄJÄ LISTA
		#kayttajaLista
			h2 Käyttäjälista
				table
					thead
						th KäyttäjäNimi
						th Sähköposti
						th Poista?
					tbody
		// /KÄYTTÄJÄ LISTA
	
		// KÄYTTÄJÄ INFO
		#kayttajaInfo
			h2 Käyttäjä info
			p
				strong Nimi:
				|  <span id='kayttajaInfoKokoNimi'></span>
				br
				strong Ikä:
				|  <span id='kayttajaInfoIka'></span>
				br
				strong Sukupuoli:
				|  <span id='kayttajaInfoSukupuoli'></span>
				br
				strong Sijainti:
				|  <span id='kayttajaInfoSijainti'></span>
		// /KÄYTTÄJÄ INFO
		

		// KÄYTTÄJÄN LISÄÄMINEN
		#lisaaKayttaja
			h2 Lisää käyttäjä
				fieldset
					input#inputKayttajaNimi(type='text', placeholder='Käyttäjänimi')
					input#inputKayttajaSahkoposti(type='text', placeholder='Sähköposti')
					br
					input#inputKayttajaKokoNimi(type='text', placeholder='Koko nimi')
					input#inputKayttajaIka(type='text', placeholder='Ikä')
					br
					input#inputKayttajaSijainti(type='text', placeholder='Sijainti')
					input#inputKayttajaSukupuoli(type='text', placeholder='Sukupuoli')
					br
					button#btnLisaaKayttaja Lisää Käyttäjä
		// /KÄYTTÄJÄN LISÄÄMINEN
		
	// /WRAPPER


