<h1>Tervetuloa pilvihavaintosivustolle!</h1>

<p>Tämä pilvihavaintosivusto sisältää hieman yksinkertaista informaatiota erilaisista pilvistä, sekä mahdollistaa omien pilvihavaintojen syöttämisen sivustolle muiden nähtäväksi.</p>

<h2>Mitä ovat pilvet?</h2>
<p>Pilvet ovat taivaalla leijuvia valkoisia tai harmaita muotoja, jotka koostuvat pienen pienistä vesi, jää ja/tai pölyhiukkasista. Ne luokitellaan pääosin niiden korkeuden ja koon mukaan. Pilven suvun päättämiseen muodolla ei ole suurtamerkitystä, mutta pilvisuvun määriteltyä voidaan kertoa sen pilvilaji, joka täsmentää pilven ulkonäköä.</p>

<h2>Pilvien korkeudet</h2>

<table>
	<tr>
		<th> </th>
		<th>Pilven alareunan korkeus</th>
	</tr>
	
	<tr>
		<th>Alapilvet</th>
		<td>0-2 km</td>
	</tr>
	
	<tr>
		<th>Keskipilvet</th>
		<td>2-7 km</td>
	</tr>
	
	<tr>
		<th>Yläpilvet</th>
		<td>5-13 km</td>
	</tr>
</table>

<h2>Pilvien korkeuden määrittäminen</h2>

<p>Yleinen helppo tapa suunnilleen mitata mihin korkeusluokkaan pilvet kuuluvat onnistuu ilman välineitä. 
<br><br>
Jos pilvet ovat hattaramaisia (cumulus), voidaan ojentaa käsi suoraan eteen ja verrata kuinka suuri osa kämmenestä tarvitaan sen peittämiseen. Kumpupilvet ovat noin nyrkin kokoisia, palleropilvet ovat noin sormen kokoisia ja hahtuvat pilvet ovat siltä väliltä muutaman sormen kokoisia.
<br><br>
Tasomaisille (stratus) pilville niiden korkeus on helpointa määrittää niiden värin ja läpinäkyvyyden perusteella. Sumupilvet ovat harmaita, verhopilvet valkoisia tai harmaita ja aurinko ei välttämättä paista niiden läpi, harsopilvet ovat aina valkoisia ja aurinko paistaa niiden läpi. </p>


