<h1>Pilvi-informaatiota</h1>
<div id="infoValinta">
	<select id="valikko">
		<option selected disabled hidden>Valitse pilvi</option>
		<option value="st">Stratus</option>
		<option value="cu">Cumulus</option>
		<option value="sc">Stratocumulus</option>
		<option value="ns">Nimbostratus</option>
		<option value="as">Altrostratus</option>
		<option value="ac">Altocumulus</option>
		<option value="cb">Cumulonimbus</option>
		<option value="ci">Cirrus</option>
		<option value="cs">Cirrostratus</option>
		<option value="cc">Cirrocumulus</option>
	</select>
</div>

<div id=infoAlue>
	<div id="st">
		<h2>Stratus (St)</h2>
		<p id="nimi">Sumupilvi</p>
		<p id="taso">Alapilvi</p>
		<p id="desc">Tasaisen harmaa sumua muistuttava pilvi, joka esiintyy korkeuksissa noin 10 metristä 2 kilometriin asti.</p>
		
	</div>
	
	<div id="cu">
		<h2>Cumulus (Cu)</h2>
		<p id="nimi">Kumpupilvi</p>
		<p id="taso">Alapilvi</p>
		<p id="desc">Kumpumaisia valkoisia pilviä, jotka tarpeeksi suuriksi kasvaessaan voivat muuttua harmaiksi.</p>
	</div>
	
	<div id="sc">
	</div>
	<div id="ns">
	</div>
	
	<div id="as">
	</div>
	
	<div id="ac">
	</div>
	
	<div id="cb">
	</div>
	
	<div id="ci">
	</div>
	
	<div id="cs">
	</div>
	
	<div id="cc">
	</div>
	
</div>

<script src="/js/pilviinfo.js"></script>
